body {
    background: url(http://subtlepatterns.com/patterns/zwartevilt.png) black;
}

.editor {
    background-color: #333;
    color: #ddd;
}

.preview {
    background-color: #111;
    color: #3a3;
}

.source {
    background-color: #322;
    color: #aaf;
}

.theme-icons i {
    border-color: white;
}

.help {
    color: #666;
    border-left-color: #222;
}

.symtab tr:first-child {
    border-top-color: #666;
}

.symtab td {
    border-bottom-color: #666;
}

.symtab td:first-child {
    border-right-color: #666;
}
