include mixins.jade

doctype html
html
  head
    title HTML Formul&aelig;
    include links.jade
  body
    #converter
      textarea.editor(autofocus, placeholder='Your code here')
      p.preview
      textarea.source(readonly)
    #theme-icons.theme-icons
    #history.history
      button.push.ion-chevron-down(disabled, title='Ctrl+Enter') Push to history
      ul
      script#history-entry-template(type='text/template')
        span.pop.ion-close-circled
        .output <%= output %>
        .input <%- input %>
    .help
      .syntax
        h3 Syntax conventions:
        ul.list-auto-punctuation
          li indices and powers: &ldquo;x^2&rdquo;, &ldquo;x_2&rdquo;
          li any correct HTML (if properly escaped), including tags and entities
          li.no-auto-punctuation special symbol sequences:
            table.symtab
              +features('mbscriptA', '-', 'mbscriptZ', 'mbscripta', '-', 'mbscriptz').
                Mathematical bold script letters (&#x1d4d0;&ndash;&#x1d4e9;, &#x1d4ea;&ndash;&#x1d503;)
              +features('setF', 'setC', 'setR', 'setQ', 'setZ', 'setN', 'setP').
                Abstract and common number sets
              +features('+', '-', '*', '/', '&amp;&amp;', '||', '!').
                Arithmetic and logical operators
              +features('=', '==', '&lt;', '&lt;=', '&gt;', '&gt;=', '!=', '/=', '~', '~~', '&lt;&lt;', '&gt;&gt;').
                Comparison relations
              +features('&lt;=&gt;', '=&gt;', '=&lt;', '&lt;==&gt;', '==&gt;', '==&lt;', '|-', '|=', 'TT', 'BB').
                Inference relations and constants
              +features('&lt;-&gt;', '-&gt;', '&lt;-', '&lt;--&gt;', '--&gt;', '&lt;--').
                Arrows
              +features(']]', ':=', '=def=').
                &ldquo;Let&rdquo; and defining signs
              +features('+-', '-+', '&amp;', 'oo').
                Various symbols
              +features('---', '--').
                Dashes: em-dash and en-dash
              +features('``', '\'\'', '&lt;&lt;&lt;', '&gt;&gt;&gt;').
                Quotation marks
              +features('&#9251;&#9251;&#9251;', '&#9251;&#9251;', '.').
                Whitespace sequences: em-space, en-space, and thin-space (respectively)
      .notes
        h3 Notes:
        ol.list-paren-style.list-auto-punctuation
          li &ldquo;\&rdquo; is the escape character
          li &ldquo;{}&rdquo;-groupings in indices and powers are available
          li indices and powers can also be nested: x^{x_0}
          li newlines are encoded and preserved
          li hyphens are not interpreted as minuses in compound words
          li &ldquo;TT&rdquo; or &ldquo;BB&rdquo; are left as is, if found close to an alphanumeric character
          li &ldquo;&hArr;&rdquo;, &ldquo;&rArr;&rdquo;, and &ldquo;&lArr;&rdquo; and their long equivalents preserve appropriate spacing on both sides

    include scripts.jade
