body {
    background-color: black;
    width: 70%;
    margin: auto;
}
textarea {
    width: 100%;
    outline: none;
    border: none;
}
div.editor textarea {
    background-color: #333;
    color: #ddd;
    font-size: 1.5em;
    font-family: monospace;
}
div.source textarea {
    background-color: #322;
    color: #aaf;
    font-family: cursive;
    font-size: 0.9em;
    font-style: italic;
}
div.preview {
    background-color: #111;
    color: #3a3;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0.5em;
}
div.preview p {
    margin: 0;
}
div.source {
    background-color: #322;
}
div.help {
    color: #666;
    width: 70%;
    float: right;
    border-left: 1px solid #111;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}
div.help * {
    margin: 0;
}
div.help h3 {
    margin-top: 0.8em;
    margin-bottom: 0.1em;
}
div.help h3 {
    letter-spacing: 1px;
}

/* List style: 1), 2), 3)... */
ol.notes {
    list-style: none outside;
    counter-reset: item;
}
ol.notes > li:before {
    content: counter(item) ")\2002"; /* &ensp; */
    counter-increment: item;
    margin-left: -1.4em;
}

/* Syntax character table */
div.symbols {
    padding: 0;
    border: none;
    margin: 0;
    margin-top: 0.3em;
}
table.symbols {
    border-collapse: collapse;
}
table.symbols td {
    border-bottom: 1px dashed #666;
    padding-top: 3px;
    padding-bottom: 3px;
}
table.symbols tr:first-child > td {
    border-top: 1px dashed #666;
}
table.symbols td:first-child {
    text-align: center;
    font-family: monospace;
    border-right: 1px dashed #666;
}
table.symbols td:last-child {
    text-align: left;
    padding-left: 0.5em;
}

/* Auto-terminating lists */
li:after {
    content: ";";
}
li:last-child:after {
    content: ".";
}
li.no-punctuation:after {
    content: "";
}
