body {
    background-color: black;
    width: 70%;
    margin: auto;
}
textarea {
    width: 100%;
    outline: none;
    border: none;
}
div.editor textarea {
    background-color: #333;
    color: #ddd;
    font-size: 1.5em;
    font-family: monospace;
}
div.source textarea {
    background-color: #322;
    color: #aaf;
    font-family: cursive;
    font-size: 0.9em;
    font-style: italic;
}
div.preview {
    background-color: #111;
    color: #3a3;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0.5em;
}
div.preview p {
    margin: 0;
}
div.source {
    background-color: #322;
}
