body {
    background-color: black;
    width: 70%;
    margin: auto;
}
textarea {
    width: 100%;
    outline: none;
    border: none;
}
div.editor textarea {
    background-color: #333;
    color: #ddd;
    font-size: 1.5em;
    font-family: monospace;
}
div.source textarea {
    background-color: #322;
    color: #aaf;
    font-family: cursive;
    font-size: 0.9em;
    font-style: italic;
}
div.preview {
    background-color: #111;
    color: #3a3;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0.5em;
}
div.preview p {
    margin: 0;
}
div.source {
    background-color: #322;
}
div.help {
    color: #666;
    width: 70%;
    float: right;
}
div.help * {
    margin: 0;
}
div.help h3 {
    margin-top: 1.5em;
    margin-bottom: 0.2em;
}
ol.notes {
    list-style: none outside;
    counter-reset: item;
}
ol.notes > li:before {
    content: counter(item) ")\2002"; /* &ensp; */
    counter-increment: item;
    margin-left: -1.4em;
}
div.help h3 {
    letter-spacing: 1px;
}
div.help {
    border-left: 1px solid #111;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}
