body {
    background-color: black;
}
div.editor textarea {
    background-color: #333;
    color: #ddd;
}
div.source textarea {
    background-color: #322;
    color: #aaf;
}
div.preview {
    background-color: #111;
    color: #3a3;
}
div.source {
    background-color: #322;
}
div.help {
    color: #666;
    border-left-color: #111;
}


/* Syntax character table */
table.symbols td {
    border-bottom-color: #666;
}
table.symbols tr:first-child > td {
    border-top-color: #666;
}
table.symbols td:first-child {
    border-right-color: #666;
}


/* Theme icons */
.theme-icons .icon {
    border-color: white;
}
