body {
    width: 70%;
    margin: 2px auto 0;
    padding: 0;
}

.help {
    width: 70%;
    float: right;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

.help h3 {
    margin-top: 0.8em;
    margin-bottom: 0.1em;
    letter-spacing: 1px;
}

.help ul, .help ol {
  margin: 0;
}
