.symtab {
    margin-top: 0.3em;
    border-collapse: collapse;
}

.symtab tr:first-child {
    border-top-width: 1px;
    border-top-style: dashed;
}

.symtab td {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    padding-top: 3px;
    padding-bottom: 3px;
}

.symtab td:first-child {
    text-align: center;
    font-family: monospace;
    border-right-width: 1px;
    border-right-style: dashed;
}

.symtab td:last-child {
    text-align: left;
    padding-left: 0.5em;
}
