.theme-icons {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
}

.theme-icons i {
    display: float;
    float: right;
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
}
